:root {
  --color-green: #02cc67;
  --color-text: #ffffff;
  --color-bg: #f2f2f2;
  --size-card: 240px;

  background-color: var(--color-bg);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

#__next {
  width: 100%;
  padding: 40px 0;
}
